# ===============================================
# SECRETS - Most Important!
# ===============================================
# Environment variables containing secrets like DB passwords
.env
*.env


# ===============================================
# BUILD & DEPENDENCIES
# ===============================================
# Maven build output directory
/target/

# Log files
*.log
logs/

# Maven wrapper jar
# The .mvn/wrapper/maven-wrapper.properties file IS committed, but the jar is not.
.mvn/wrapper/maven-wrapper.jar


# ===============================================
# IDE-SPECIFIC FILES
# ===============================================

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### STS / Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/


# ===============================================
# OS-SPECIFIC FILES
# ===============================================
# macOS
.DS_Store

# Windows
Thumbs.db